[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pypdf = "*"
nltk = "*"
neattext = "*"
contractions = "*"
scikit-learn = "*"
pytest = "*"
gensim = "==3.6.0"

[dev-packages]

[requires]
python_version = "3.9"
